:host {
    position: relative;
    box-sizing: border-box;

    white-space: nowrap;
    overflow: hidden;

    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    color: #ddd;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
}

.content:focus {
    outline: none;
}

:host([row])>.content {
    flex-direction: row;
}
