:host {
    color: #aaa;

    overflow: auto;
}

ul {
    padding: 0px;
    margin: 10px;
}

li {
    list-style-type: none;
    display: flex;
}

li[builtin] {
    color: #888;
}

li .row-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-button {
    color: #09f;
    padding: 2px 4px;
    border-radius: 0px;
    border: none;

    cursor: pointer;
}


.icon-button:hover {
    background-color: #333;
}

.icon-button:active {
    background-color: #555;
}
