:host {
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #aaa;
}

ul {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

li {
    list-style-type: none;
    display: flex;
}

li[builtin] {
    color: #888;
}

.count {
    margin-right: 10px;
}

.btn {
    margin-right: 5px;
    cursor: pointer;
}

.btn.active {
    color: #0f0;
}
