:host {
    color: #aaa;

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
}

.toolbar {
    padding: 5px 10px;
}
.toolbar .btn {
    font-size: 12px;
    padding: 3px;
    margin-right: 0px;
    color: #09f;
}
.toolbar .btn:hover {
    background: #333;
}

.content {
    overflow: auto;
}

ul {
    padding: 0px;
    margin: 0px;

    margin-left: 10px;
    margin-bottom: 5px;
}

li {
    list-style-type: none;
    display: flex;
}

li[builtin] {
    color: #888;
}

li .row-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.count {
    margin-right: 10px;
}

.btn {
    margin-right: 5px;
    cursor: pointer;
}

.btn.active {
    color: #0f0;
}
