:host {
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;

    white-space: nowrap;

    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    color: #ddd;
    cursor: default;
}

.border {
    position: relative;
    border: 1px solid #212121;
}

.content {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    background-color: #474747;
}

.content:focus {
    outline: none;
}
